div {
    color: white;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: black;
}

.navbarMenu {
    color: white;
    margin: 8px;
    text-decoration: none;
    z-index: 100;
    font-weight: bold;
}

.navbarMenu:hover {
    color: red;
    cursor: none;
}

.bold-text {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 164, 164);
}

.login-main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 180, 255);
}

.login,
.password {
    cursor: none;
}

.login-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(99, 93, 213, 0.418);
    width: 600px;
    height: 500px;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}

.login-password,
.login-login {
    flex-direction: row;
}

.login-login {
    margin-top: -100px;
}

.login-logininfo {
    font-size: 15px;
    color: rgb(70, 21, 21);
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-logo {
    font-size: 30px;
    margin-left: 20px;
}

.login {
    width: 80%;
    margin-top: 20%;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.login-idhint {
    margin-left: 100px;
    width: 80%;
    font-size: 15px;
    color: rgb(70, 21, 21);
    padding: 7px;
    text-align: start;
}

.password {
    width: 80%;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.login-button {
    width: 100px;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(119, 169, 212);
    border-radius: 20px;
    border-style: none;
}

.login-button:hover {
    background-color: rgb(69, 152, 225);
    cursor: none;
}

.login-already {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
}

.login-already a {
    color: #333;
    margin-right: 10px;
}

.login-already a:last-child {
    margin-right: 0;
}

.register-back {
    display: flex;
    font-size: 20px;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* background-color: yellow; */
}

.register-input {
    display: flex;
    height: 100%;
    flex-direction: column;
    /* background-color: red; */
    font-size: 20px;
    justify-content: space-between;
    margin-top: 50px;
}

.register-cont {
    display: flex;
    /* background-color: blue; */
    flex-direction: row;
    align-items: center;
}

.register-title {
    /* background-color: gray; */
    width: 150px;
    text-align: center;
}

.register-id,
.register-nick,
.register-pwd {
    width: 60%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.backbutton {
    position: absolute;
    font-size: 30px;
}


.backbutton:hover {
    /* cursor: pointer; */
}

.register-button {
    width: 100px;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(119, 169, 212);
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
}

.register-button:hover {
    background-color: rgb(69, 152, 225);
}

.error-message {
    font-size: 15px;
    color: rgb(70, 21, 21);
}

.hashtag-buttons {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    padding: 20px;
}

.card-title {
    color: black;
}

.card-thumb {
    color: white;
    font-weight: bold;
}

.hashtag-button {
    background-color: rgb(0, 213, 255);
    color: white;
    font-size: 13px;
    border-style: none;
    border-radius: 10px;
    padding: 10px 15px;
}

.hashtag-button:hover {
    background-color: rgb(0, 157, 189);
    cursor: none;
}

.cardview-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-number {}


.search-input {
    border-radius: 30px;
    padding: 10px;
    background-color: #f9f9f9;
    border-style: none;
    color: black;
}

.cardview-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.cardview-item {
    background-color: rgb(97, 68, 241);
    padding: 20px;
    margin: 10px;
    width: 350px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cardview-item.show {
    opacity: 1;
}

.image-container {
    position: relative;
    height: 150px;
    border-radius: 10px;
}


.cardview-thumb {
    background-color: white;
    width: 300px;
    height: 130px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5px;

}

.cardview-thumb:hover {
    /* cursor: pointer; */
}

.cardview-thumb:hover .play-button {
    display: block;
}

.cardview-hashtags {
    color: yellow;
    border: 1px solid white;
    padding: 5px;
    margin-top: 10px;
}

.cardview-card {
    margin-top: 10px;
    background-color: rgb(129, 108, 233);
    border-radius: 30px;
    padding: 15px;
}

.play-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .play-button-container {
    opacity: 1;
    /* cursor: pointer; */
}

.home-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    width: 100%;
    color: white;
}

.home-quote {
    font-style: italic;
    font-size: 14px;
}

.home-quote-name {
    font-style: italic;
    font-size: 14px;
    padding-bottom: 10px;
}

.home-projects {
    font-size: 12px;
}

.skill {
    display: flex;
    flex-direction: row;
    background-color: rgb(97, 68, 241);
    margin-top: 10px;
    width: 590px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between
}

.skill-title {
    width: 100px;
    color: white;
}

.progressbar {
    margin-top: 5px;
    width: 400px;
}

.skill-bar {
    background-color: yellow;
    width: 400px;
    color: white;
}

.react-logo {
    width: 50px;
    height: auto;
    color: red;
}

.skill-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.skill-logos>div {
    margin-right: 30px;
}

.me-title {
    margin-top: -20px;
    color: white;
    font-weight: lighter;
}

.star {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-top: -80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px #c77eff;
    animation: twinkle 0.5s infinite alternate;
    z-index: 100;
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.dropdown-logo {
    margin-left: 5px;
    margin-top: 4px
}

.dropdown-logo:hover {}




.dropdown-detail {
    width: 590px;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.dropdown-detail.open {
    max-height: 1000px;
    opacity: 1;
}

.dropdown-cont {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgb(138, 118, 239);
    border-radius: 10px;
    padding: 10px;
}

.dropdown-title {
    font-size: 30px;
    align-self: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme-title {
    text-align: center;
    font-size: 20px;
    padding: 15px;
    font-style: italic;
}

.aboutme-descr {
    font-size: 17px;
    padding: 10px;
}

.me-img {
    width: 300px;
}

.about-me-descr {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.aboutme-btn {
    border-radius: 10px;
    font-size: 20px;
    color: white;
    padding: 10px 15px 10px 15px;
    background-color: #c77eff;
    border-style: none;
}

.aboutme-btn:hover {
    background-color: #b350ff;
}

.aboutme-btn:active {
    background-color: #8a00cc;
}

.aboutme {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 10px;
}

.end {
    opacity: 1;
    transition: opacity 1s;
}

.main {
    cursor: none;
}

.pointer {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    pointer-events: none;
    z-index: 999;
}

.main:has(.dropdown-logo:hover, .backbutton:hover, .cardview-thumb:hover, .image-container:hover .play-button-container, .navbarMenu:hover, .hashtag-button:hover) .pointer {
    background-color: rgba(255, 255, 255, 0.167);
}